* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: center;
}

header>img{
    width: 400px;
}

.search {
    padding: 5px;
    width: 300px;
}

.whiteB{
    border: 1px solid white;
    transition-duration: 0.4s;
    width: 300px;
}

#search {
    background-color: black;
    color: white;
    border: none;
    width: 260px;
    display: none;
}

.hidden  {
    display: none;
}

.movie {
    height: 200px;
    display: flex;
}

.movie .poster{
    height: 180px;
    width: 120px;
}

.poster img {
    height: 100%;
    width: 100%;
}

.lang {
    padding: 10px;
}
.lang img{
    height: 24px;
}

p.voto i {
    color: #d91f27;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

h1 {
    color: #d91f27;
}


h2 {
    color:#d91f27;
}

.template {
    display: none;
}
