* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    width: 100%;
    height: 80px;
}

header>img{
    height: 30px;
}

.search-div {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.6s;
    padding-left: 6px;
}

.search-div:hover {
    border: 1px solid white;
    width: 350px;
}

.s-input {
    width: 330px;
    border: none;
    background-color: black;
    height: 30px;
    transition: 1s;
    color: black;
    padding-left: 10px;
}

.s-input:hover{
    color: white;
}
main {
    width: 100%;
    display: flex;
}
aside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 90px);
    width: 0;
}

aside .arrow{
    margin-left: 10px;
    transition: 0.3s,
}

aside .genres{
    border-right: 1px solid #d91f27;
    background-color: black;
    height: 100%;
    z-index: 10;
    transition: 0.5s;
    flex-direction: column;
    padding: 10px;
    display: none;
}

aside .button {
    display: flex;
    flex-direction: column;
}

aside button {
    border: none;
    color: white;
    background-color: black;
    line-height: 30px;
    font-size: 20px;
}

.hideGenres{
    display: none;
}

.showGenres {
    display: flex;
    flex-direction: column;
}

.rotate {
    transform: rotate(180deg);
    margin-left: 260px;
}


.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cover {
    height: 456px;
    width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
    transition: 0.5s;
}

.cover:hover{
    transform:scale(1.2);
    z-index: 3;
}

.cover .details{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.cover .details:hover {
    opacity: 1;
}

.cover .poster{
    height: auto;
    position: absolute;
    z-index: 1;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

.poster img {
    height: 100%;
    width: 100%;
}

.lang {
    padding: 10px;
}
.lang img{
    height: 24px;
}

p.voto  {
    color: #d91f27;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

h1 {
    color: #d91f27;
}


h2 {
    color:#d91f27;
}

.template {
    display: none;
}

.hidden  {
    display: none;
}
